.profile-dropdown {
  background: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 120px;
  border-radius: 6px;
}

.profile-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profile-dropdown li {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.profile-dropdown li:hover {
  background: #f5f5f5;
}

.profile-dropdown .logout {
  color: red;
  font-weight: 500;
}
