body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar */
/* .navbar{
  position:fixed;
} */

.nav-link {
  margin-left: 3rem;
}

/* Footer */
.footer-style a{
  text-decoration: none;
  color: gray;
}

.footer-style li {
  margin-bottom: 1rem;
}

.footer-link a{
  color: rgb(90, 89, 89);
  margin-right: 0.4rem;
}

.footer-addition-link a{
  text-decoration: none;
  color: gray;
  margin-right: 3rem;
}

/* Support Section */
#supportHero {
  background-color: rgb(56, 126, 209);
  color:aliceblue;
}

#supportHero a{
  color:aliceblue;
}

#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 2rem 16em 1rem 20rem;
}

.sprt a{
  color:aliceblue;
  margin-right: 2rem;
}